<div class="master-head">
	<div class="container">
		<ul class="inline">
			<li>
				<h3>Welcome</h3>
			</li>
			<li class="pull-right">
				<h3>Content Management System</h3>
			</li>
		</ul>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						{{#each row}} {{! 레벨 1 메뉴}}
							{{#hasChild this}}
								<li class="dropdown"><a href="#" tabindex="-1" data-toggle="dropdown" class="dropdown-toggle">{{this.name}}<b class="caret"></b></a>
									<ul class="dropdown-menu">
										{{#each this.childs}} {{! 레벨 2 메뉴}}
											<li class="nav-header">{{this.name}}</li>
											{{#each this.childs}} {{! 레벨 3 메뉴}}
												{{#hasChild this}}
													<li class="dropdown-submenu">
														<a href="#" tabindex="-1">Schedule</a>
														<ul class="dropdown-menu">
															{{#each this.childs}} {{! 레벨 4 메뉴}}
																<li><a href="#" tabindex="-1">{{this.name}}</a></li>
															{{/each}}
														</ul>
													</li>
												{{else}}
													<li><a href="#" tabindex="-1">{{this.name}}</a></li>
												{{/hasChild}}
											{{/each}}
											<li class="divider"></li>
										{{/each}}
									</ul>
							{{else}}
								<li><a href="{{this.link}}" tabindex="-1">{{this.name}}</a></li>
							{{/hasChild}}
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>