extends layout

block content	
	div#myCarousel.carousel.slide
		div.carousel-inner
			div.item.active
				img(src="/images/slide-01.jpg", alt="")				
				div.container
					div.carousel-caption
						h1 Catch phrase
						p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						a.btn.btn-large.btn-primary(href="#") Get started today
			div.item
				img(src="/images/slide-02.jpg", alt="")
				div.container
					div.carousel-caption
						h1 Catch phrase
						p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						a.btn.btn-large.btn-primary(href="#") Get started today
			div.item
				img(src="/images/slide-03.jpg", alt="")
				div.container
					div.carousel-caption
						h1 Catch phrase
						p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						a.btn.btn-large.btn-primary(href="#") Get started today
		a.left.carousel-control(href="#myCarousel", data-slide="prev") &lsaquo;
		a.right.carousel-control(href="#myCarousel", data-slide="next") &rsaquo;
	
	div.masthead
		div.container
			ul.inline
				li
					h3 Welcome
				li.pull-right
					h3 Content Management System
			
			div.navbar
				div.navbar-inner
					div.container
						ul.nav
							li.active
								a(href="#", tabindex="-1") Home
							li
								a(herf="#", tabindex="-1") ToDo
							li
								a(herf="#", tabindex="-1") Planner
							li.dropdown
								a(herf="#", tabindex="-1", data-toggle="dropdown").dropdown-toggle Projects 
									b.caret
								ul.dropdown-menu
									li.nav-header Setup & Plan
									li
										a(href="#", tabindex="-1") Project profile
									li.divider
									li.nav-header Exceution & Control
									li.dropdown-submenu
										a(href="#", tabindex="-1") Schedule
										ul.dropdown-menu
											li 
												a(href="#", tabindex="-1") MSP Sync/Resource Alloc
											li 
												a(href="#", tabindex="-1") Weekly Task Direction
											li 
												a(href="#", tabindex="-1") Weekly Task Result
											li 
												a(href="#", tabindex="-1") Weekly Task Approval
											li 
												a(href="#", tabindex="-1") Completion Rate Management
											li 
												a(href="#", tabindex="-1") Milestone Status
									li.divider
									li.nav-header Risks & Issues									
									li
										a(href="#", tabindex="-1") Risks
									li
										a(href="#", tabindex="-1") Issues
							li
								a(herf="#", tabindex="-1") BBS
							li
								a(herf="#", tabindex="-1") Settings		
	div.container		
		div.row-fluid
			div.row
				div.span4
					h2 Notice
					p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
						a.btn(href="#") View details
				div.span4
					h2 Risk
					p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
						a.btn(href="#") View details
				div.span4
					h2 Issue
					p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
						a.btn(href="#") View details
			div.row
				div
					h2 Progress chart
					p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
						a.btn(href="#") View details
			div.row
				div
					h2 Calendar
					p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
						a.btn(href="#") View details
		hr
		div.footer
			p Company 2013

	script(type='text/javascript')
		!function ($) {
			$(function(){
				// carousel demo
				$('#myCarousel').carousel();
			})
		}(window.jQuery)
	
	script(src='libs/jquery/jquery.js')
	script(src='libs/bootstrap/js/bootstrap.js')