<div class="master-content">
	<div class="container">
		<hr>
		<div class="tabbable tabs-right"> <!-- Only required for left/right tabs -->
			<ul class="nav nav-tabs">
				{{#each tabs}}
					{{#if this.active}}
						<li class="active"><a href="#tab" data-toggle="tab"><i class="{{this.icon}}"></i> {{this.name}}</a></li>
					{{else}}
						<li><a href="{{this.link}}"><i class="{{this.icon}}"></i> {{this.name}}</a></li>
					{{/if}}
				{{/each}}
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab">
					<h4>{{title}}</h4>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>
