<div class="master-content">
	<div class="container">
		<hr>
		<div class="tabbable tabs-right"> <!-- Only required for left/right tabs -->
			<ul class="nav nav-tabs">
				{{#each tabs}}
					{{#if this.active}}
						<li class="active"><a href="#tab" data-toggle="tab"><i class="{{this.icon}}"></i> {{this.name}}</a></li>
					{{else}}
						<li><a href="{{this.link}}"><i class="{{this.icon}}"></i> {{this.name}}</a></li>
					{{/if}}
				{{/each}}
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab2">
					<h4>{{title}}</h4>
					<hr>
					<ul class="breadcrumb">
						<li><a href="{{parentTask.hash}}/{{parentTask.wbs}}">{{parentTask.wbs}}</a> <span class="divider">/</span></li>
						<li><a href="#">1.3</a> <span class="divider">/</span></li>
						<li class="active">1.3.4</li>
						<li class="active right">{{parentTask.name}}</li>
					</ul>
					<hr>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>WBS</th>
								<th>작업 이름</th>
								<th>가중치(%)</th>
								<th>계획(%)</th>
								<th>실적(%)</th>
								<th>승인자</th>
								<th>담당자</th>
							</tr>
						</thead>
						<tbody>
							{{#each tasks}}
								<tr>
									<td>{{this.wbs}}</td>
									<td>{{this.name}}</td>
									<td>{{this.weight}}</td>
									<td>{{this.plan}}</td>
									<td>{{this.act}}</td>
									<td>
										{{#listToStr this.worker}}
											{{this.name}}{{#unless @last}},{{/unless}}
										{{/listToStr}}
									</td>
									<td>
										{{#listToStr this.approver}}
											{{this.name}}{{#unless @last}},{{/unless}}
										{{/listToStr}}
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
