<div class="signin-master-head">
	<div class="container">
		<form action="" class="form-signin" method="post">
			<h2>Please sign in</h2>
			<div class="control-group">
				<div class="controls">
					<input name="email" type="text" placeholder="example@lgcns.com">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input name="password" type="password" placeholder="Password">
				</div>
			</div>
			<label class="checkbox" for="remember">
				Remember me
				<a href="session/forget_password"> (forget password)</a>
				<input id="remember" type="checkbox" value="remember-me">
			</label>
			<button class="btn btn-large btn-primary">Sign in</button>
		</form>
	</div>
</div>