<form name="form" novalidate>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelForm()">&times;</button>
		<h4 class="modal-title">{{task.name}}</h4>
	</div>
	<div class="modal-body form-horizontal">
		<div class="form-group">
			<label for="wbs" class="col-sm-2 control-label">WBS</label>
			<div class="col-sm-10">
				<p class="form-control-static">{{task.wbs}}</p>
			</div>
		</div>
		<div class="form-group">
			<label for="wbs" class="col-sm-2 control-label">Task</label>
			<div class="col-sm-10">
				<input class="form-control" id="name" name="name" type="text" ng-model="task.name" placeholder="task name is required." required autofocus>
			</div>
		</div>
		<div class="form-group">
			<label for="wbs" class="col-sm-2 control-label">시작일자</label>
			<div class="col-sm-10">
				<div class="input-group" ng-model="task.start_date">
					<input class="form-control" type="text" id="start_date" name="start_date"
						datepicker-popup="yyyy.MM.dd" ng-model="task.start_date" datepicker-options="dateOptions"
						is-open="opened" focus="focusStart" required>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="focusStart=true"><span class="glyphicon glyphicon-calendar"></span></button>
					</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="wbs" class="col-sm-2 control-label">종료일자</label>
			<div class="col-sm-10">
				<p class="form-control-static">{{task.end_date  | date : 'yyyy.MM.dd'}}</p>
			</div>
		</div>
		<div class="form-group">
			<label for="wbs" class="col-sm-2 control-label">기간</label>
			<div class="col-sm-10">
				<input class="form-control" id="duration" name="duration" type="text" ng-model="task.duration" required >
			</div>
		</div>
		<div class="form-group">
			<label for="worker" class="col-sm-2 control-label">담당자</label>
			<div class="col-sm-10">
				<select id="worker" name="worker" multiple  class="form-control" ui-select2="{ allowClear: true}" ng-model="select2">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="wbs" class="col-sm-2 control-label">상세</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="5" id="desc" name="desc" ng-model="task.desc"></textarea>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="resetForm()"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
		<button type="button" class="btn btn-default" ng-click="cancelForm()"><span class="glyphicon glyphicon-remove"></span> Close</button>
		<button type="button" class="btn btn-danger "><span class="glyphicon glyphicon-trash"></span> Delete</button>
		<button type="submit" class="btn btn-success" ng-click="saveForm()" ng-disabled="form.$invalid"><span class="glyphicon glyphicon-saved"></span> Save</button>
	</div>
	<div class="well">
		<pre>{{task | json}}</pre>
	</div>
</form>