<div class="master-content">
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>성</th>
					<th>이름</th>
					<th>이메일</th>
				</tr>
			</thead>
			<tbody>
				{{#each users}}
					<tr>
						<td class="text-muted">{{this.name.last}}</td>
						<td class="text-muted">{{this.name.first}}</td>
						<td class="text-danger">{{this.email}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
