body { padding-top: 50px; } // 메뉴 공간 확보용

/* DHTMLX Gantt Cutomization */
/* show different style for weekend */
.gantt_weekend{
	background: #f4f7f4;
}
/* text in the progress bar */
.gantt_task_progress{
	text-align:left;
	padding-left:10px;
	box-sizing: border-box;
	color:white;
	font-weight: bold;
}